<div class="orientation-wrapper">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, sunt aliquam
    rem eligendi hic provident veritatis dicta esse quo dignissimos nobis quis
    odit corrupti nemo, commodi nostrum quos? Consectetur, nihil?
  </p>
  <div class="slider-three__wrapper">
    <ul
      class="slider-three__slider-list multiple-items first-slider-main-page-restaurant"
    >
      <li class="slider-three__item">
        <img
          class="slider-three__image"
          src="././images/about_restaraunt_slider/photo-restaurant_1_1x.jpg"
          alt=""
          width="340"
        />
      </li>
      <li class="slider-three__item">
        <img
          class="slider-three__image"
          src="././images/about_restaraunt_slider/photo-restaurant_2_1x.jpg"
          alt=""
          width="340"
        />
      </li>
      <li class="slider-three__item">
        <img
          class="slider-three__image"
          src="././images/about_restaraunt_slider/photo-restaurant_3_1x.jpg"
          alt=""
          width="340"
        />
      </li>
      <li class="slider-three__item">
        <img
          class="slider-three__image"
          src="././images/about_restaraunt_slider/photo-restaurant_4_1x.jpg"
          alt=""
          width="340"
        />
      </li>
      <li class="slider-three__item">
        <img
          class="slider-three__image"
          src="././images/about_restaraunt_slider/photo-restaurant_5_1x.jpg"
          alt=""
          width="340"
        />
      </li>
      <li class="slider-three__item">
        <img
          class="slider-three__image"
          src="././images/about_restaraunt_slider/photo-restaurant_6_1x.jpg"
          alt=""
          width="340"
        />
      </li>
    </ul>

    <ul
      class="slider-three__slider-list multiple-items second-slider-main-page-restaurant"
    >
      <li class="slider-three__item">
        <img
          class="slider-three__image"
          src="././images/about_restaraunt_slider/photo-restaurant_2_1x.jpg"
          alt=""
          width="340"
        />
      </li>
      <li class="slider-three__item">
        <img
          class="slider-three__image"
          src="././images/about_restaraunt_slider/photo-restaurant_3_1x.jpg"
          alt=""
          width="340"
        />
      </li>
      <li class="slider-three__item">
        <img
          class="slider-three__image"
          src="././images/about_restaraunt_slider/photo-restaurant_4_1x.jpg"
          alt=""
          width="340"
        />
      </li>
      <li class="slider-three__item">
        <img
          class="slider-three__image"
          src="././images/about_restaraunt_slider/photo-restaurant_5_1x.jpg"
          alt=""
          width="340"
        />
      </li>
      <li class="slider-three__item">
        <img
          class="slider-three__image"
          src="././images/about_restaraunt_slider/photo-restaurant_6_1x.jpg"
          alt=""
          width="340"
        />
      </li>
      <li class="slider-three__item">
        <img
          class="slider-three__image"
          src="././images/about_restaraunt_slider/photo-restaurant_1_1x.jpg"
          alt=""
          width="340"
        />
      </li>
    </ul>
  </div>
</div>
