<section class="hotel-about">
  <div class="container">
    <div class="hotel-about__container">
      <div class="hotel-about__wrapper-first">
        <p class="hotel-about__slogan">Amet minim mollit non</p>
        <h2 class="hotel-about__logo logo">MIMIHO</h2>
        <p class="hotel-about__info-first">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="hotel-about_photo-first"
          src="././images/about_restaurant/restaurant-photo_1_1x.jpg"
          alt=""
          width="460"
        />
      </div>
      <div class="hotel-about__wrapper-second">
        <img
          class="hotel-about_photo-second"
          src="././images/about_restaurant/restaurant-photo_2_1x.jpg"
          alt=""
          width="460"
        />
        <p class="hotel-about__info-second">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div class="hotel-about__wrapper-slider">
          <ul class="about-hotel__slider-list multiple-items">
            <li class="hotel-about__slider-item">
              <img class="hotel-about__slider-image" src="././images/about_restaraunt_slider/photo-restaurant_1_1x.jpg" alt="">
            </li>            <li class="hotel-about__slider-item">
              <img class="hotel-about__slider-image" src="././images/about_restaraunt_slider/photo-restaurant_2_1x.jpg" alt="">
            </li>            <li class="hotel-about__slider-item">
              <img class="hotel-about__slider-image" src="././images/about_restaraunt_slider/photo-restaurant_3_1x.jpg" alt="">
            </li>            <li class="hotel-about__slider-item">
              <img class="hotel-about__slider-image" src="././images/about_restaraunt_slider/photo-restaurant_4_1x.jpg" alt="">
            </li>            <li class="hotel-aboutt__slider-item">
              <img class="hotel-about__slider-image" src="././images/about_restaraunt_slider/photo-restaurant_5_1x.jpg" alt="">
            </li>            <li class="hotel-about__slider-item">
              <img class="hotel-about__slider-image" src="././images/about_restaraunt_slider/photo-restaurant_6_1x.jpg" alt="">
            </li>
          </ul>
        </div>
      </div>
</section>