<section class="main-contacts">
  <div class="container">
    <div class="main-contacts__container">
      <div class="main-contacts__wrapper">
        <h2 class="main-contacts__logo logo">MIMIHO</h2>
        <h3 class="main-contacts__name">Ресторанно-готельний комплекс</h3>
        <ul class="main-contacts__list">
          <li class="main-contacts__item main-contacts__item-restaurant">
            <p class="main-contacts__type">Ресторан</p>
            <a
              class="main-contacts__link main-contacts__link--restaurant"
              href="tel:+380955559533"
            >
              <svg
                class="main-contacts__svg main-contacts__svg-smartphone"
                width="24"
                height="24"
              >
                <use
                  href="././images/contacts-sprite.svg#icon-contacts_phone"
                ></use>
              </svg>
              095 555 95 33
            </a>
          </li>
          <li class="main-contacts__item main-contacts__item-hotel">
            <p class="main-contacts__type">Готель</p>
            <a
              class="main-contacts__link main-contacts__link--hotel"
              href="tel:+380668491089"
            >
              <svg
                class="main-contacts__svg main-contacts__svg-smartphone"
                width="24"
                height="24"
              >
                <use
                  href="././images/contacts-sprite.svg#icon-contacts_phone"
                ></use>
              </svg>
              <div class="main-contacts__phone-wrapper">
                <p class="main-contacts__phone-first">066 849 10 89</p>
                <p class="main-contacts__phone-second">067 275 65 60</p>
              </div>
            </a>
          </li>
          <li class="main-contacts__item main-contacts__item-address">
            <a class="main-contacts__link main-contacts__link--map" href="">
              <svg
                class="main-contacts__svg main-contacts__svg-smartphone"
                width="24"
                height="24"
              >
                <use
                  href="././images/contacts-sprite.svg#icon-contacts_location"
                ></use>
              </svg>
              Україна, м. Полтава, <br />вул. Маршала Бірюзова, 15
            </a>
          </li>
        </ul>
      </div>
      <div class="main-contacts__map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25646.256257943034!2d34.51427251045428!3d49.594409607956315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e1!3m2!1sru!2sua!4v1669367218587!5m2!1sru!2sua"
          width="634"
          height="412"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
