<section class="main-contacts">
  <div class="container">
    <h1 class="main-contacts__title visually-hidden">Hotel contacts</h1>
    <div class="main-contacts__container">
      <div class="main-contacts__wrapper">
        <h2 class="main-contacts__logo logo">MIMIHO</h2>
        <h3 class="main-contacts__name">Ресторанно-готельний комплекс</h3>
        <ul class="main-contacts__list">
          <li class="main-contacts__item main-contacts__item-restaurant">
            <p class="main-contacts__type">Ресторан</p>
            <a
              class="main-contacts__link main-contacts__link--restaurant"
              href="tel:+380955559533"
            >
              <svg
                class="main-contacts__svg main-contacts__svg-smartphone"
                width="24"
                height="24"
              >
                <use
                  href="././images/contacts-sprite.svg#icon-contacts_phone"
                ></use>
              </svg>
              095 555 95 33
            </a>
          </li>
          <li class="main-contacts__item main-contacts__item-hotel">
            <p class="main-contacts__type">Готель</p>
            <a
              class="main-contacts__link main-contacts__link--hotel"
              href="tel:+380668491089"
            >
              <svg
                class="main-contacts__svg main-contacts__svg-smartphone"
                width="24"
                height="24"
              >
                <use
                  href="././images/contacts-sprite.svg#icon-contacts_phone"
                ></use>
              </svg>
              <div class="main-contacts__phone-wrapper">
                <p class="main-contacts__phone-first">066 849 10 89</p>
                <p class="main-contacts__phone-second">067 275 65 60</p>
              </div>
            </a>
          </li>
          <li class="main-contacts__item main-contacts__item-address">
            <a class="main-contacts__link main-contacts__link--map" href="">
              <svg
                class="main-contacts__svg main-contacts__svg-smartphone"
                width="24"
                height="24"
              >
                <use
                  href="././images/contacts-sprite.svg#icon-contacts_location"
                ></use>
              </svg>
              Україна, м. Полтава, <br />вул. Маршала Бірюзова, 15
            </a>
          </li>
        </ul>
      </div>

      <iframe
        class="main-contacts__map"
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d25646.25626212673!2d34.5142725!3d49.5944096!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sru!2sua!4v1669633783074!5m2!1sru!2sua"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
