<section class="hotel-details">
  <div class="container">
    <div class="hotel-details__container">
      <div class="hotel-details__wrapper-second">
        <div class="hotel-details__wrapper-inside">
          <h2 class="hotel-details__logo logo">MIMIHO</h2>
          <p class="hotel-details__title">Готель</p>
        </div>

        <p class="hotel-details__info">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="hotel-details__wrapper-slider-two-cards">
          <ul class="hotel-details__slider-list multiple-items">
            <li class="hotel-details__slider-item">
              <img
                class="hotel-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_1_1x.jpg"
                alt=""
              />
            </li>
            <li class="hotel-details__slider-item">
              <img
                class="hotel-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_2_1x.jpg"
                alt=""
              />
            </li>
            <li class="hotel-details__slider-item">
              <img
                class="hotel-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_3_1x.jpg"
                alt=""
              />
            </li>
            <li class="hotel-details__slider-item">
              <img
                class="hotel-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_4_1x.jpg"
                alt=""
              />
            </li>
            <li class="hotel-details__slider-item">
              <img
                class="hotel-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_5_1x.jpg"
                alt=""
              />
            </li>
            <li class="hotel-details__slider-item">
              <img
                class="hotel-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_6_1x.jpg"
                alt=""
              />
            </li>
          </ul>
        </div>
        <div class="hotel-details__wrapper-slider-three-cards">
          <ul class="hotel-details__slider-list variable-width">
            <li class="hotel-details__slider-item">
              <img
                class="hotel-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_1_1x.jpg"
                alt=""
              />
            </li>
            <li class="hotel-details__slider-item">
              <img
                class="hotel-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_2_1x.jpg"
                alt=""
              />
            </li>
            <li class="hotel-details__slider-item">
              <img
                class="hotel-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_3_1x.jpg"
                alt=""
              />
            </li>
            <li class="hotel-details__slider-item">
              <img
                class="hotel-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_4_1x.jpg"
                alt=""
              />
            </li>
            <li class="hotel-details__slider-item">
              <img
                class="hotel-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_5_1x.jpg"
                alt=""
              />
            </li>
            <li class="hotel-details__slider-item">
              <img
                class="hotel-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_6_1x.jpg"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
      <div class="hotel-details__wrapper-first">
        <button class="button hotel-details__button" type="button">
          Забронювати столик
        </button>

        <button class="button hotel-details__button" type="button">
          Переглянути меню
        </button>
      </div>
    </div>
  </div>
</section>
