<section class="restaurant-details">
  <div class="container">
    <div class="restaurant-details__container">
      <div class="restaurant-details__wrapper-first">
        <button class="button restaurant-details__button" type="button">
          Забронювати столик
        </button>

        <button class="button restaurant-details__button" type="button">
          Переглянути меню
        </button>
      </div>
      <div class="restaurant-details__wrapper-second">
        <h2 class="restaurant-details__logo logo">MIMIHO</h2>
        <p class="restaurant-details__type">Ресторан</p>
        <p class="restaurant-details__info">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="restaurant-details__wrapper-slider">
          <ul class="restaraunt-details__slider-list variable-width">
            <li class="restaraunt-details__slider-item">
              <img
                class="restaraunt-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_1_1x.jpg"
                alt=""
              />
            </li>
            <li class="restaraunt-details__slider-item">
              <img
                class="restaraunt-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_2_1x.jpg"
                alt=""
              />
            </li>
            <li class="restaraunt-details__slider-item">
              <img
                class="restaraunt-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_3_1x.jpg"
                alt=""
              />
            </li>
            <li class="restaraunt-details__slider-item">
              <img
                class="restaraunt-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_4_1x.jpg"
                alt=""
              />
            </li>
            <li class="restaraunt-details__slider-item">
              <img
                class="restaraunt-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_5_1x.jpg"
                alt=""
              />
            </li>
            <li class="restaraunt-details__slider-item">
              <img
                class="restaraunt-details__slider-image"
                src="././images/about_restaraunt_slider/photo-restaurant_6_1x.jpg"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
