.main-contacts {
  padding: 64px 0 74px;
  background-image: repeating-linear-gradient(
    to right,
    #fffdee,
    #fffdee 338px,
    rgba(186, 186, 186, 0.4) 338px,
    rgba(186, 186, 186, 0.4) 339px,
    #fffdee 339px,
    #fffdee 641px,
    rgba(186, 186, 186, 0.4) 641px,
    rgba(186, 186, 186, 0.4) 642px,
    #fffdee 642px,
    #fffdee 943px,
    rgba(186, 186, 186, 0.4) 943px,
    rgba(186, 186, 186, 0.4) 944px,
    #fffdee 944px
  );
}
.main-contacts__logo {
  padding: 0;
  margin: 0 0 24px;
  font-family: 'Times New Roman', Times, serif;
  color: #b4b4b4;
  font-weight: 700;
  font-size: 64px;
  line-height: calc(68.4 / 64);
  margin-bottom: 16px;
}
.main-contacts__name {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;

  color: #5f5f5f;
  margin-bottom: 40px;
}
.main-contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.main-contacts__type {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: #c79002;
  margin: 0 auto 8px 0;
}
.main-contacts__link {
  text-decoration: none;
  font-family: 'Montserrat';
  //font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  align-items: center;
  letter-spacing: 0.02em;
  color: #828282;
  display: flex;
}
.main-contacts__item {
  margin-right: auto;
}
.main-contacts__item-restaurant {
  padding-bottom: 24px;
}
.main-contacts__item-hotel {
  padding-bottom: 48px;
}
.main-contacts__link {
  padding: 12px 8px 11px;
  border: 0.5px solid #f3c653;
  border-radius: 2px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.main-contacts__phone-wrapper {
  display: flex;
  gap: 16px;
}
p {
  padding: 0;
  margin: 0;
}
.main-contacts__container {
  display: flex;
  justify-content: space-between;
}
.main-contacts__map {
  border: 1px solid #bababa;
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
