<section class="slider">
  <div class="container">
    <div class="orientation-wrapper">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, sunt
        aliquam rem eligendi hic provident veritatis dicta esse quo dignissimos
        nobis quis odit corrupti nemo, commodi nostrum quos? Consectetur, nihil?
      </p>
      <div class="slider-two__wrapper">
        <ul
          class="slider-two__slider-list multiple-items first-slider-main-page-hotel"
        >
          <li class="slider-two__item">
            <img
              class="slider-two__image"
              src="././images/about_restaraunt_slider/photo-restaurant_1_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-two__item">
            <img
              class="slider-two__image"
              src="././images/about_restaraunt_slider/photo-restaurant_2_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-two__item">
            <img
              class="slider-two__image"
              src="././images/about_restaraunt_slider/photo-restaurant_3_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-two__item">
            <img
              class="slider-two__image"
              src="././images/about_restaraunt_slider/photo-restaurant_4_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-two__item">
            <img
              class="slider-two__image"
              src="././images/about_restaraunt_slider/photo-restaurant_5_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-two__item">
            <img
              class="slider-two__image"
              src="././images/about_restaraunt_slider/photo-restaurant_6_1x.jpg"
              alt=""
              width="340"
            />
          </li>
        </ul>

        <ul
          class="slider-two__slider-list multiple-items second-slider-main-page-hotel"
        >
          <li class="slider-two__item">
            <img
              class="slider-two__image"
              src="././images/about_restaraunt_slider/photo-restaurant_2_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-two__item">
            <img
              class="slider-two__image"
              src="././images/about_restaraunt_slider/photo-restaurant_3_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-two__item">
            <img
              class="slider-two__image"
              src="././images/about_restaraunt_slider/photo-restaurant_4_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-two__item">
            <img
              class="slider-two__image"
              src="././images/about_restaraunt_slider/photo-restaurant_5_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-two__item">
            <img
              class="slider-two__image"
              src="././images/about_restaraunt_slider/photo-restaurant_6_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-two__item">
            <img
              class="slider-two__image"
              src="././images/about_restaraunt_slider/photo-restaurant_1_1x.jpg"
              alt=""
              width="340"
            />
          </li>
        </ul>
      </div>
    </div>
    <div class="orientation-wrapper">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, sunt
        aliquam rem eligendi hic provident veritatis dicta esse quo dignissimos
        nobis quis odit corrupti nemo, commodi nostrum quos? Consectetur, nihil?
      </p>
      <div class="slider-three__wrapper">
        <ul
          class="slider-three__slider-list multiple-items first-slider-main-page-restaurant"
        >
          <li class="slider-three__item">
            <img
              class="slider-three__image"
              src="././images/about_restaraunt_slider/photo-restaurant_1_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-three__item">
            <img
              class="slider-three__image"
              src="././images/about_restaraunt_slider/photo-restaurant_2_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-three__item">
            <img
              class="slider-three__image"
              src="././images/about_restaraunt_slider/photo-restaurant_3_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-three__item">
            <img
              class="slider-three__image"
              src="././images/about_restaraunt_slider/photo-restaurant_4_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-three__item">
            <img
              class="slider-three__image"
              src="././images/about_restaraunt_slider/photo-restaurant_5_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-three__item">
            <img
              class="slider-three__image"
              src="././images/about_restaraunt_slider/photo-restaurant_6_1x.jpg"
              alt=""
              width="340"
            />
          </li>
        </ul>

        <ul
          class="slider-three__slider-list multiple-items second-slider-main-page-restaurant"
        >
          <li class="slider-three__item">
            <img
              class="slider-three__image"
              src="././images/about_restaraunt_slider/photo-restaurant_2_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-three__item">
            <img
              class="slider-three__image"
              src="././images/about_restaraunt_slider/photo-restaurant_3_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-three__item">
            <img
              class="slider-three__image"
              src="././images/about_restaraunt_slider/photo-restaurant_4_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-three__item">
            <img
              class="slider-three__image"
              src="././images/about_restaraunt_slider/photo-restaurant_5_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-three__item">
            <img
              class="slider-three__image"
              src="././images/about_restaraunt_slider/photo-restaurant_6_1x.jpg"
              alt=""
              width="340"
            />
          </li>
          <li class="slider-three__item">
            <img
              class="slider-three__image"
              src="././images/about_restaraunt_slider/photo-restaurant_1_1x.jpg"
              alt=""
              width="340"
            />
          </li>
        </ul>
      </div>
    </div>
    <div class="orientation-wrapper orientation-wrapper_three-cards">
      <div class="restaurant-details__wrapper-slider-three-cards">
        <ul class="restaraunt-details__slider-list variable-width">
          <li class="restaraunt-details__slider-item">
            <img
              class="restaraunt-details__slider-image"
              src="././images/about_restaraunt_slider/photo-restaurant_1_1x.jpg"
              alt=""
            />
          </li>
          <li class="restaraunt-details__slider-item">
            <img
              class="restaraunt-details__slider-image"
              src="././images/about_restaraunt_slider/photo-restaurant_2_1x.jpg"
              alt=""
            />
          </li>
          <li class="restaraunt-details__slider-item">
            <img
              class="restaraunt-details__slider-image"
              src="././images/about_restaraunt_slider/photo-restaurant_3_1x.jpg"
              alt=""
            />
          </li>
          <li class="restaraunt-details__slider-item">
            <img
              class="restaraunt-details__slider-image"
              src="././images/about_restaraunt_slider/photo-restaurant_4_1x.jpg"
              alt=""
            />
          </li>
          <li class="restaraunt-details__slider-item">
            <img
              class="restaraunt-details__slider-image"
              src="././images/about_restaraunt_slider/photo-restaurant_5_1x.jpg"
              alt=""
            />
          </li>
          <li class="restaraunt-details__slider-item">
            <img
              class="restaraunt-details__slider-image"
              src="././images/about_restaraunt_slider/photo-restaurant_6_1x.jpg"
              alt=""
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
